.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #db3e4d !important;
}
.nav-link {
  color: #545454;
}
.nav-link:focus,
.nav-link:hover {
  color: #545454;
}
.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle,
.btn-primary {
  background-color: #db3e4d;
  border-color: #db3e4d;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  background-color: #db3e4d;
  border-color: #db3e4d;
  box-shadow: 0 0 0 0.25rem rgb(219 62 77 / 50%);
}
.btn-primary:hover {
  background-color: #db3e4d;
  border-color: #db3e4d;
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgb(219 62 77 / 50%);
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgb(219 62 77 / 50%);
}

.icon-square i {
  color: #db3e4d;
}

* {
  font-family: Inter, sans-serif;
}

.heading {
  text-align: center;
}

.section-hr {
  margin-top: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  width: 96px;
  background-color: #db3e4d;
  border: 3px solid #db3e4d;
  border-radius: 16px;
  margin-top: 16px;
}
.level-section {
  box-shadow: 0px 0rem 80px hsla(0, 0%, 70.6%, 0.2);
  padding: 20px 26px;
  margin: 0 !important;
}
.card{
  margin: 8px 20px;
}
.card-link {
  color: #333;
}
.section-ash {
  background-color: #fbfbfb;
}
.card .list,
.skills-container p,
.ash-color {
  color: #767d86;
}

.footer {
  background-color: #333;
  color: white;
}

#container {
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inviteContainer {
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background-color: #000;
}
#inviteContainer .acceptContainer {
  padding: 45px 30px;
  box-sizing: border-box;
  width: 400px;
  font-family: Inter, sans-serif !important;
}
#inviteContainer .acceptContainer:before {
  font-family: Inter, sans-serif;
  content: "";
  background-size: cover !important;
  filter: blur(10px);
  position: absolute;
  width: 150%;
  height: 150%;
  top: -50px;
  left: -50px;
}

form {
  padding-bottom: 15px;
  position: relative;
  text-align: center;
  height: 100%;
}
form h1 {
  margin: 0 0 15px 0;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}
form .serverInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}
form .serverInfo .img {
  background: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
form .serverInfo .img img {
  width: 75%;
}
form .serverInfo p {
  padding-left: 10px;
  color: #fff;
}
form .serverInfo p span {
  font-weight: 600;
}
form .serverInfo p .by {
  padding-left: 5px;
  font-size: 12px;
  opacity: 0.7;
}
form .serverInfo p .name {
  padding-left: 5px;
  font-size: 12px;
}

.logoContainer {
  padding: 45px 30px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logoContainer img {
  width: 150px;
  margin-bottom: -5px;
  display: block;
  position: relative;
}
.logoContainer .text {
  padding: 25px 0 10px 0;
}
.logoContainer::before {
  content: "";
  background-size: cover !important;
  position: absolute;
  top: -50px;
  left: -50px;
  width: 150%;
  height: 150%;
  filter: blur(10px);
  box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.8);
}

.acceptBtn {
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  background: #7289da;
  border: none;
  color: #fff;
  padding: 15px 0;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  transition: 0.2s ease;
}
.acceptBtn:hover {
  background: #86a0ff;
  color: #fff;
}

/*
=============== 
Questions
===============
*/
.title {
  margin-bottom: 4rem;
}
.title h2 {
  text-align: center;
}
.section-center {
  width: 60%;
  margin: 0px auto;
}
.question {
  background: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0px 0px 8px #999;
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 20px;
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.question-title p {
  margin-bottom: 0;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-1);
}
.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--clr-gold);
  transition: var(--transition);
}

.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.question-text p {
  margin-bottom: 0;
}
/* hide text */
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.waitlist {
  background-color: #db3e4d;
  text-align: center;
  color: #f4f4f4;
  padding: 14px;
}
.waitlist a {
  color: #fff;
  padding: 8px 12px;
  font-weight: bold;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav{
    display: none;
  }
  .waitlist {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
  }
  header{
    margin-top: 86px;
  }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
